boxBar.x: 0
boxBar.y: 0
boxBar.align.horizontal: auto
boxBar.align.vertical: auto
boxBar.vertical: false
boxBar.items: button,tasks,tray,clock
boxBar.percentage: 100
boxBar.useSlit: true
boxBar.toggleWithPlugins: true

boxBar.tasks.iconsize: 32
boxBar.tasks.stretchArea: true
boxBar.tasks.MaxSize.X: 200
boxBar.Tasks.ShowText: true
boxBar.Tasks.ShowIcon: true

boxBar.tray.vertical: true
boxBar.tray.iconsize: 16
boxBar.tray.maxRows: 2
boxBar.tray.maxCols: 5
boxBar.tray.reverseOrder: true
boxBar.tray.newIconsFirst: false

boxBar.clock.format: %H:%M
boxBar.clock.tipFormat: %A %d %B %Y

boxBar.button.ShowText: false
boxBar.button.ShowIcon: true
boxBar.button.leftClick: @bbCore.ShowMenu