# -----------------------------------------------------------------
# boxBar - MENU FILE
# -----------------------------------------------------------------

# Available menu commands are listed in the documentation.

[begin] (Start menu)
    [path] (Start Menu) {STARTMENU|COMMON_STARTMENU}
    [path] (Desktop)    {DESKTOPDIRECTORY|COMMON_DESKTOPDIRECTORY}
    [separator]
    [submenu] (System)
        [path] (My Computer) {DRIVES}
        [path] (Controls) {CONTROLS}
        [path] (Blackbox) {BLACKBOX}
        # Uncomment this line to check out all available system folders
        # [include] {shellfolders.rc}
    [end]
	[stylesmenu] (Styles) {styles}
	[include] (menubb.rc)
    [separator]
    [submenu] (Shutdown)
        [logoff] (Logoff)
        [reboot] (Reboot)
        [shutdown] (Shutdown)
        [suspend] (Suspend)
    [end]
    [separator]
    [run]  (Run)
    [volume]  (Volume)
[end]

